doctype html
html(lang='en')
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="Easy retro application")
        title=title
        link(rel='stylesheet' href='/stylesheets/style.css' media='all')
        link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' media='all')
        link(rel='shortcut icon' href='/icons8-system-task-64.png' type='image/x-icon')
    body

        main(class='container p-4')
            header(class='mb-4 border-bottom')
                a(href='/' class='app-main-logo' aria-label='App main logo')
                    include shared/icons/icon-clipboard.pug
                    span  Welcome to Retro App

            if errorMessage
                include ./shared/alert.pug
            else
                block content

        script(src='/bootstrap/dist/js/bootstrap.min.js' defer)
        script(src='/scripts/app.js' defer)
